* {
    padding: 0;
    margin: 0;
}

.background {
    background-color: cadetblue;
    height: 105vh;
    padding-top: 1px;
}

.display {
    color: azure;
    font-size: 25px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.hide {
    display: none;
}

.container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;

}

.area {
    border: 1px solid white;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.playerX {
    color: orangered;
}

.playerO {
    color: brown;
}

.controles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.controles button {
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
}

.github {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1em;
}

.github button {
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 10px;
    margin-left: 1em;
    cursor: pointer;
}

#reiniciar {
    background-color: crimson;
}

#git {
    background-color: crimson;
}